/*** document styles ***/
body{
  font-family: sans-serif;
  margin: 0;
}
/*** header ***/
header {
  background-color: #000;
  color:#fff;
  margin: 0;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #FF3333;
}

header h6 {
  padding: 0;
  margin: 0;
}

button {
  margin-left: 33%;
}

ul {
  padding: 0;
  margin-top: 5px;
  border-left: 10px dotted black;
  border-right: 10px dotted black;
}

li {
  list-style: none;
  background-color: #ccc;
  padding: 10px;
  border: 5px solid black;
}

li:first{
  border-top: 10px solid black;
}

label {
  display: block;
  text-align: center;
  font-size: .7em;
}

#logo {
  height: 40px;
  vertical-align: bottom;
}

#main{
	width: 1240px;
  min-height: 300px;
	position: relative;
}

#main div {
  float: left;
}

/*** User Finder ***/
#findUserForm{
  padding: 15px;
}

#foundUsers {
  width: 125px;
  margin: auto auto;
}

.users {
  width: 32px;
  height: 32px;
}

.userbtn {
  background: none;
  border: none;
  padding: 0;
}

/*** Playlist Browser ***/
#findPlaylists {
	width: 20%;
	display: inline-block;
  background: #eee;
}

.prieviewThumbs{
  width: 11em;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

#trailViewer{
	width: 50%;
	display: inline-block;
}

.playlistItem .playlistId{
	display: none;
  position: center;
}


#findPlaylists li {
  display: inline;
  vertical-align: top;
  list-style: none;
}

/*** videos ***/
#viewer {
  visibility: hidden;
  width: 540px;
  height: 315px;
  margin: auto auto;
  padding-top: 35px;
}

#viewer div {
  display: inline;
}

/***Trail viewer***/
#trailViewer  h1{
	text-align: center;
	font-size: 2em;
}
.previewBlock .playlistVideo{
	display: inline-block;
	cursor: pointer;
	border: 2px solid black;
}
.previewBlock{
	margin: auto;
	display: inline-block;
}
.previewBlock img{
	width: 50px;
	padding: 0px;
	border-top: 5px dotted black;
	border-bottom: 5px dotted black;
	display:block;
}
.pl_videoId{
	display: none;
}
#ytplayer{
	height: 100%;
	width: 100%;
	border: none;
}
.player{
	height: 335px;
	width: 100%;
	background-color: #eee;
	display: inline-block;
}
.previewBox{
	background-color: #eee;
	text-align: center;
	height: 55px;
	width: 100%;
}

/*** footer ***/
footer {
  margin-top: 15px;
  padding: 10px;
  background-color: #000;
  text-align: center;
  display: block;
}