

/** styles **/


body{
  font-family: 'Bubbler One', sans-serif;
  font-size: 12px;
}
/*** header ***/
header {
  background-color: #eecbad;
  color:#fff;
  font-size: 20px;
  padding:10px;
  text-align: center;
}


/*** filmstrip preview ***/
#filmstrip li {
  display: inline;
  height: auto;
}


/*** form ***/
#trailFinder {
  width: 300px;
  margin: auto auto;
}

#trailFinder input {
  float: left;
}


/*** videos ***/
#viewer {
  visibility: hidden;
  width: 540px;
  height: 315px;
  margin: auto auto;
  padding-top: 35px;
}

#viewer div {
  display: inline;
}

/*** footer ***/
footer {
  margin-top: 15px;
  padding: 10px;
  background-color: #eecbad;
  text-align: center;
}