/*** document styles ***/
body{
  font-family: sans-serif;
  font-size: 12px;
}
/*** header ***/
header {
  background-color: #eecbad;
  color:#fff;
  font-size: 20px;
  padding:10px;
  text-align: center;
}
#main{
	width: 960px;
	margin: auto;
	position: relative;
}

/*** content-blocks ***/
#findUsers{
	width: 33%;
	display: inline-block;
}
#findPlaylists {
	width: 33%;
	display: inline-block;
}
#trailViewer{
	width: 33%;
	display: inline-block;
}

.playlistItem .playlistId{
	display: none;
}


/*** filmstrip preview ***/
/* #filmstrip li {
  display: inline;
  height: auto;
} */

#findPlaylists li {
  display: inline;
  vertical-align: top;
}

.previewThumb ul{
  width: 10em;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}


}

/*** form ***/
#trailFinder {
  width: 300px;
  margin: auto auto;
}

#trailFinder input {
  float: left;
}


/*** videos ***/
#viewer {
  visibility: hidden;
  width: 540px;
  height: 315px;
  margin: auto auto;
  padding-top: 35px;
}

#viewer div {
  display: inline;
}

/***Trail viewer***/
#trailViewer{
	width: 33%;
	float: right;
}

/*** footer ***/
footer {
  margin-top: 15px;
  padding: 10px;
  background-color: #eecbad;
  text-align: center;
}